

.create-nft {
   counter-reset: item-counter 0;
   padding-top: 120px;
   padding-bottom: 120px;
   background-image: url('../../assets/main-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   color: #fff;
}

@media (max-width: 991px) {
   .create-nft {
      background-position: bottom;
   }
}

.create-nft__heading {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 80px;
   position: relative;
}

@media (max-width: 991px) {
   .create-nft__heading {
      flex-direction: column;
   }
}

.create-nft__heading::before {
   content: '';
   position: absolute;
   left: 0;
   top: -25px;
   background-color: #fff;
   width: 10%;
   height: 3px;
}

@media (max-width: 991px) {
   .create-nft__heading::before {
      top: -1rem;
      left: 50%;
      transform: translateX(-50%);
      width: 15%;
   }
}

.create-nft__heading h1 {
   text-transform: capitalize;
}

.create-nft__heading span {
   text-transform: uppercase;
}

@media (max-width: 991px) {
   .create-nft__heading h1 {
      margin-bottom: 2rem;
      font-size: 1.8rem;
   }
}

@media (max-width: 767px) {
   .create-nft__heading h1 {
      font-size: 1.5rem;
      text-align: center;
   }
}

.create-nft__items {
   display: flex;
}

@media (max-width: 991px) {
   .create-nft__items {
      flex-direction: column;
      align-items: center;
   }
}

.create-nft__item {
   position: relative;
   padding: 0 2rem;
}

.create-nft__item:first-of-type {
   padding: 0 1rem;
}

@media (max-width: 991px) {
   .create-nft__item,
   .create-nft__item:first-of-type {
      padding: 0;
      text-align: center;
      margin-bottom: 4rem;
   }
   .create-nft__item:last-of-type {
      margin-bottom: 0;
   }
}

.create-nft__item:not(:first-of-type)::before {
   content: '';
   position: absolute;
   background-color: rgba(236, 236, 236, 0.292);
   height: 100%;
   width: 1px;
   left: 0;
   top: 0;
}

.create-nft__item:not(:first-of-type)::after {
   counter-increment: item-counter;
   content: counter(item-counter);
   position: absolute;
   left: -0.3rem;
   top: -1.5rem;
   color: #fff;
   font-weight: var(--fw-semibold);
}

@media (max-width: 991px) {
   .create-nft__item:not(:first-of-type)::before,
   .create-nft__item:not(:first-of-type)::after {
      display: none;
   }
}

.create-nft__item__image {
   background-color: #fff;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   display: flex;
   justify-content: center;
}

@media (max-width: 991px) {
   .create-nft__item__image {
      margin: 0 auto;
   }
}

.create-nft__item__image img {
   align-self: center;
}

.create-nft__item h3 {
   margin: 1.2rem 0;
}

.create-nft__item p {
   line-height: 1.8;
   font-size: .95rem;
}